/* styles/globals.css */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilos Globais */
body {
  font-family: 'Poppins', sans-serif;
}

/* Adicione outros estilos globais conforme necessário */
